@model EFDataAccess.Models.EditProfileModel

@{
    ViewBag.Title = "Edit Profile";
}
<style>
    .img {
        width: 60px;
        height: 60px;
        border-radius: 999px;
    }
</style>
<div class="container-fluid px-4">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card shadow border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">@ViewBag.Title</h3>
                </div>
                @using (Html.BeginForm("Edit", "Info", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.UserId)

                        <img src="~/Upload/Image/Avatar/@Html.DisplayFor(model => model.UserAvatar)" class="img img-thumbnail">

                        <div class="form-group mb-2">
                            @Html.LabelFor(model => model.UserFullName, htmlAttributes: new { @class = "control-label col" })
                            <div class="col">
                                @Html.EditorFor(model => model.UserFullName, new { htmlAttributes = new { @class = "form-control", @required= "required" } })
                                @Html.ValidationMessageFor(model => model.UserFullName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group mb-2">
                            @Html.LabelFor(model => model.UserBio, htmlAttributes: new { @class = "control-label col" })
                            <div class="col">
                                @Html.TextAreaFor(model => model.UserBio, new { @class = "form-control", @rows = "5", @required = "required" })
                                @Html.ValidationMessageFor(model => model.UserBio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserAvatar, htmlAttributes: new { @class = "control-label" })
                            <div class="col">
                                <input type="file" name="ImageFile" accept="image/*" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="d-flex align-items-center justify-content-between">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "small text-success" })
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>