@model DataAccessLibrary.DataControl.User

@{
    ViewBag.Title = "Edit " + Html.DisplayTextFor(model => model.FULLNAME);
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal container">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.USERID)

        <div class="form-group mb-2">
            @Html.LabelFor(model => model.USERNAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-2">
            @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-2">
            @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-2">
            @Html.LabelFor(model => model.FULLNAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FULLNAME, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.FULLNAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-2">
            @Html.LabelFor(model => model.BIOGRAPHY, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.BIOGRAPHY, new { @class = "form-control form-control-sm", @rows="4" })
                @Html.ValidationMessageFor(model => model.BIOGRAPHY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-2">
            @Html.LabelFor(model => model.STATUSID, "STATUSID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.DropDownList("STATUSID", null, htmlAttributes: new { @class = "form-control form-control-sm" })
                @Html.ValidationMessageFor(model => model.STATUSID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-2">
            <div class="col-md-offset-2 col-md-12">
                @Html.ActionLink("Back to List", "Index", "Users", new { @class = "btn btn-warning text-white" })
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}